<div class="addingtravel">
<ul class="list-group">
    <form class="form-inline my-2 my-lg-0" method="post" action="/traveladd">

        <ul class="list-group">
            <li class="list-group-item" name="origin">From: <span><b>{{origin}}</b></span></li>
            <li class="list-group-item" name="destination">To: <span><b>{{destination}}</b></span></li>
            <li class="list-group-item" name="departdate">Date: <span><b>{{departdate}}</b></span></li>
            <li class="list-group-item" name="numberofchanges">Changes: <span><b>{{numberofchanges}}</b></span></li>
            <li class="list-group-item" name="value">Price: <span><b>{{value}}</b></span></li>
            <button class="form-control mr-sm-2" type="submit">Add</button>
        </ul>
    </form>
</ul>
</div>

